.back-color {
  background-color: rgb(243, 243, 243);
}

table {
  border-spacing: 0px;
}
table th,
table td {
  margin: 0px;
  padding: 5px 15px 5px 15px;
  border: 1px solid black;
}

select {
  margin: 10px;
  padding: 5px;
}

.go-center {
  margin: 10px auto;
}
form > .go-center {
  margin: 0px auto;
}

form > div {
  border: 1px solid;
  padding: 10px;
  width: 800px;
}

form label {
  margin-left: 400px;
}

button{
  wi
}
.button-align {
}
